conda install pytorch torchvision -c pytorch
pip install tensorboard-pytorch
pip install gymnasium
pip install "gymnasium[atari]"
pip install opencv-python
pip install ale-py
pip3 install ptan
pip install "gymnasium[accept-rom-license]"
python=3.10

wrapping.py has some issues with python3.9
ptan has some issues with python3.12